<div class="booking-wrapper">
        <div class="container">
            <ul class="nav nav-tabs ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#pane1">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pane2">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pane3">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#pane4'" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <div class="tour-inner clearfix form-inline justify-content-center">

                <div class="tab-content" id="booking-tabs">
                    <div class="tab-pane fade show active " id="pane1" role="tabpanel">
                        <form action="tours.html" class="form1 clearfix">
                            <div class="col1 c1">
                                <div class="input2_wrapper">
                                    <label>Where to?</label>
                                    <div class="input2_inner">
                                        <input type="text" class="form-control input" placeholder="Ou êtes vous ?">
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c2">
                                <div class="select1_wrapper">
                                    <label>Destinations</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Destinations</option>
                                            <option value="1">Greece</option>
                                            <option value="2">London</option>
                                            <option value="3">Maldives</option>
                                            <option value="4">Paris</option>
                                            <option value="5">Rome</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c4">
                                <div class="select1_wrapper">
                                    <label>Date départ</label>
                                    <div class="input2_inner">
                                        <input type="date" class="form-control input" placeholder="Date de départ">
                                    </div>
                                </div>
                            </div>

                            <div class="col1 c5">
                                <button type="submit" class="btn-form1-submit"><i class="ti-search"></i> Find Now</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pane2" role="tabpanel">
                        <form action="tours.html" class="form1 clearfix">
                            <div class="col1 c1">
                                <div class="input2_wrapper">
                                    <label>Where to?</label>
                                    <div class="input2_inner">
                                        <input type="text" class="form-control input" placeholder="Ou êtes vous ?">
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c2">
                                <div class="select1_wrapper">
                                    <label>Destinations</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Destinations</option>
                                            <option value="1">Greece</option>
                                            <option value="2">London</option>
                                            <option value="3">Maldives</option>
                                            <option value="4">Paris</option>
                                            <option value="5">Rome</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c4">
                                <div class="select1_wrapper">
                                    <label>Duration</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Duration</option>
                                            <option value="1">1 Day Tour</option>
                                            <option value="2">2-4 Days Tour</option>
                                            <option value="3">5-7 Days Tour</option>
                                            <option value="4">7+ Days Tour</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c5">
                                <button type="submit" class="btn-form1-submit"><i class="ti-search"></i> Find Now</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pane3" role="tabpanel">
                        <form action="tours.html" class="form1 clearfix">
                            <div class="col1 c1">
                                <div class="input2_wrapper">
                                    <label>Where to?</label>
                                    <div class="input2_inner">
                                        <input type="text" class="form-control input" placeholder="Ou êtes vous ?">
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c2">
                                <div class="select1_wrapper">
                                    <label>Destinations</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Destinations</option>
                                            <option value="1">Greece</option>
                                            <option value="2">London</option>
                                            <option value="3">Maldives</option>
                                            <option value="4">Paris</option>
                                            <option value="5">Rome</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c4">
                                <div class="select1_wrapper">
                                    <label>Duration</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Duration</option>
                                            <option value="1">1 Day Tour</option>
                                            <option value="2">2-4 Days Tour</option>
                                            <option value="3">5-7 Days Tour</option>
                                            <option value="4">7+ Days Tour</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c5">
                                <button type="submit" class="btn-form1-submit"><i class="ti-search"></i> Find Now</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pane4" role="tabpanel">
                        <form action="tours.html" class="form1 clearfix">
                            <div class="col1 c1">
                                <div class="input2_wrapper">
                                    <label>Where to?</label>
                                    <div class="input2_inner">
                                        <input type="text" class="form-control input" placeholder="Ou êtes vous ?">
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c2">
                                <div class="select1_wrapper">
                                    <label>Destinations</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Destinations</option>
                                            <option value="1">Greece</option>
                                            <option value="2">London</option>
                                            <option value="3">Maldives</option>
                                            <option value="4">Paris</option>
                                            <option value="5">Rome</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c4">
                                <div class="select1_wrapper">
                                    <label>Duration</label>
                                    <div class="select1_inner">
                                        <select class="select2 select" style="width: 100%">
                                            <option value="0">Duration</option>
                                            <option value="1">1 Day Tour</option>
                                            <option value="2">2-4 Days Tour</option>
                                            <option value="3">5-7 Days Tour</option>
                                            <option value="4">7+ Days Tour</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col1 c5">
                                <button type="submit" class="btn-form1-submit"><i class="ti-search"></i> Find Now</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>