<div class="row">
    <div class="col-md-6 col-12">
        <h6>Foires aux Questions</h6>
        <ul class="accordion-box clearfix">
            {% for question in questions %}
            <li class="accordion block">
                <div class="acc-btn ">{{ question.question_text }} </div>
                <div class="acc-content" >
                    <div class="content">
                        <div class="text">{{ question.answer_text }}</div>
                    </div>
                </div>
            </li>
            {% empty %}

            {% endfor %}


        </ul>
    </div>
</div>