{% load static %}
<style>
    .nav-link:hover{
        color: orange !important;
        text-decoration: underline;
        font-weight: bold !important;
    }
</style>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="index.html"> <img src="{% static "assets/img/logo.png" %}" class="logo-img" alt=""> </a>
            <!-- <a class="logo" href="index.html"> <h2>TRAVOL <span>explore the world</span></h2> </a> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item"><a class="nav-link" href="about.html">A propos</a></li>

                <li class="nav-item"><a class="nav-link" href="destination.html">Nos service</a></li>
                <li class="nav-item"><a class="nav-link" href="gallery.html">Médiatèque</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Nous contacter</a></li>
            </ul>
        </div>
    </div>
</nav>
